In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("NBA_crawler1.csv", index_col=0)

In [8]:
df['type'] = df['標題'].apply(lambda x: x.split(" ")[0])

In [10]:
df = df[df['type'] == ('[情報]' or '[討論]' or '[新聞]' or '[花邊]' or '[外絮]' or '[專欄]')]
df.reset_index(drop=True, inplace=True)

In [7]:
teams = ['賽爾提克','籃網','尼克','76','暴龍','公牛','騎士','活塞','溜馬','公鹿','老鷹','黃蜂','熱火','魔術','巫師','金塊','灰狼','雷霆','拓荒者','爵士','勇士','快艇','湖人','太陽','國王','獨行俠','火箭','灰熊','鵜鶘','馬刺']

In [101]:
#players
names=['Harden','James','Durant','Curry','George','Giannis']
Harden = ['哈登','哈登哈登','Harden','鬍子']
James = [': LBJ','James','LBJ','LBJ ','LeBron','] LBJ','姆斯','姆斯 姆斯','詹','詹姆斯','詹皇','詹皇詹皇',' 姆斯','james']
Durant = [': KD','KD','杜蘭特','杜蘭特杜蘭特','杜蘭特林','Durant','durant']
Curry = ['Curry',': curry','柯瑞',' curry','Stephen ','curry']
George = ['PG','PGPG','George','george']
Giannis = ['字母','字母哥','Antetokounmpo','Giannis','giannis']

In [122]:
df1 = df[:1876]
df2 = df[1876:3591].reset_index(drop=True)
df3 = df[3591:5184].reset_index(drop=True,)
df4 = df[5185:6829].reset_index(drop=True)
df5 = df[6829:8615].reset_index(drop=True)
df6 = df[8615:10600].reset_index(drop=True)
df7 = df[10600:12320].reset_index(drop=True)
df8 = df[12320:13003].reset_index(drop=True)
df9 = df[13003:13695].reset_index(drop=True)
df10 = df[13695:14846].reset_index(drop=True)
df11 = df[14846:16281].reset_index(drop=True)
df12 = df[16281:].reset_index(drop=True)

In [205]:
result = pd.DataFrame(columns=['name','group','month','count'])

In [206]:
def count(name,name_list,df,time):
    count=0
    for i in name_list:
        for j in range(len(df)):
            for k in df['留言'][j].split():
                if i in k:
                    count +=1
    result.loc[len(result)] = [name,'players',time,count]

In [207]:
name = Harden
name1 = 'Harden'
count(name1,name,df1,1)
count(name1,name,df2,2)
count(name1,name,df3,3)
count(name1,name,df4,4)
count(name1,name,df5,5)
count(name1,name,df6,6)
count(name1,name,df7,7)
count(name1,name,df8,8)
count(name1,name,df9,9)
count(name1,name,df10,10)
count(name1,name,df11,11)
count(name1,name,df12,12)

name = James
name1 = 'James'
count(name1,name,df1,1)
count(name1,name,df2,2)
count(name1,name,df3,3)
count(name1,name,df4,4)
count(name1,name,df5,5)
count(name1,name,df6,6)
count(name1,name,df7,7)
count(name1,name,df8,8)
count(name1,name,df9,9)
count(name1,name,df10,10)
count(name1,name,df11,11)
count(name1,name,df12,12)

name = Durant
name1 = 'Durant'
count(name1,name,df1,1)
count(name1,name,df2,2)
count(name1,name,df3,3)
count(name1,name,df4,4)
count(name1,name,df5,5)
count(name1,name,df6,6)
count(name1,name,df7,7)
count(name1,name,df8,8)
count(name1,name,df9,9)
count(name1,name,df10,10)
count(name1,name,df11,11)
count(name1,name,df12,12)

name = Curry
name1 = 'Curry'
count(name1,name,df1,1)
count(name1,name,df2,2)
count(name1,name,df3,3)
count(name1,name,df4,4)
count(name1,name,df5,5)
count(name1,name,df6,6)
count(name1,name,df7,7)
count(name1,name,df8,8)
count(name1,name,df9,9)
count(name1,name,df10,10)
count(name1,name,df11,11)
count(name1,name,df12,12)

name = George
name1 = 'George'
count(name1,name,df1,1)
count(name1,name,df2,2)
count(name1,name,df3,3)
count(name1,name,df4,4)
count(name1,name,df5,5)
count(name1,name,df6,6)
count(name1,name,df7,7)
count(name1,name,df8,8)
count(name1,name,df9,9)
count(name1,name,df10,10)
count(name1,name,df11,11)
count(name1,name,df12,12)

name = Giannis
name1 = 'Giannis'
count(name1,name,df1,1)
count(name1,name,df2,2)
count(name1,name,df3,3)
count(name1,name,df4,4)
count(name1,name,df5,5)
count(name1,name,df6,6)
count(name1,name,df7,7)
count(name1,name,df8,8)
count(name1,name,df9,9)
count(name1,name,df10,10)
count(name1,name,df11,11)
count(name1,name,df12,12)

In [208]:
def count_team(df,time):
    for i in teams:
        count=0
        for j in range(len(df)):
                for k in df['留言'][j].split():
                    if i in k:
                        count+=1
        result.loc[len(result)] = [i,'teams',time,count]

In [209]:
count_team(df1,1)
count_team(df2,2)
count_team(df3,3)
count_team(df4,4)
count_team(df5,5)
count_team(df6,6)
count_team(df7,7)
count_team(df8,8)
count_team(df9,9)
count_team(df10,10)
count_team(df11,11)
count_team(df12,12)

In [210]:
result

       name    group month  count
0    Harden  players     1   1186
1    Harden  players     2   1057
2    Harden  players     3   1275
3    Harden  players     4   1096
4    Harden  players     5   1981
5    Harden  players     6    802
6    Harden  players     7    703
7    Harden  players     8    161
8    Harden  players     9    188
9    Harden  players    10    402
10   Harden  players    11    498
11   Harden  players    12    933
12    James  players     1   6604
13    James  players     2   6590
14    James  players     3   4113
15    James  players     4   4574
16    James  players     5  11395
17    James  players     6  12661
18    James  players     7   6992
19    James  players     8   1763
20    James  players     9   2020
21    James  players    10   2308
22    James  players    11   3582
23    James  players    12   4736
24   Durant  players     1   1876
25   Durant  players     2   1448
26   Durant  players     3   1218
27   Durant  players     4   1494
28   Durant  players     5   4716
29   Durant  players     6   5086
..      ...      ...   ...    ...
402    賽爾提克    teams    12     14
403      籃網    teams    12    228
404      尼克    teams    12    476
405      76    teams    12    241
406      暴龍    teams    12    403
407      公牛    teams    12    263
408      騎士    teams    12    568
409      活塞    teams    12    143
410      溜馬    teams    12    112
411      公鹿    teams    12    241
412      老鷹    teams    12    393
413      黃蜂    teams    12     88
414      熱火    teams    12    255
415      魔術    teams    12    183
416      巫師    teams    12    241
417      金塊    teams    12    227
418      灰狼    teams    12    200
419      雷霆    teams    12    345
420     拓荒者    teams    12     61
421      爵士    teams    12    213
422      勇士    teams    12   2554
423      快艇    teams    12    270
424      湖人    teams    12   1946
425      太陽    teams    12    821
426      國王    teams    12    341
427     獨行俠    teams    12     41
428      火箭    teams    12    910
429      灰熊    teams    12    221
430      鵜鶘    teams    12    194
431      馬刺    teams    12    957

[432 rows x 4 columns]

In [211]:
result.to_csv('rank.csv',encoding='utf-8')